.flex {
  display: flex;
}
.flex-one {
  flex: 1;
}
.align-items_center {
  align-items: center;
}
.align-items_start {
  align-items: flex-start;
}
.align-items_end {
  align-items: flex-end;
}
.justify-content_center {
  justify-content: center;
}
.justify-content_start {
  justify-content: flex-start;
}
.justify-content_end {
  justify-content: flex-end;
}
.justify-content_around {
  justify-content: space-around;
}
.justify-content_between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}